{% extends 'shared/template.html.twig' %}

{% block body %}
    <div class="row">
        {% for person in persons %}
            <div class="card me-1 mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ person.id }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ person.firstname }} {{ person.name }}</h6>
                    <p class="card-text">
                        {{ person.firstname }} is {{ person.age }} years old
                    </p>
                    <div class="d-flex flex-column">
                        <span class="text-muted small">Created at {{ person.createdAt | date("d/m/Y")  }}</span>
                        <span class="text-muted small">Updated at {{ person.updatedAt | date("d/m/Y") }} </span>
                    </div>
                    <a href="#" class="card-link">Todo</a>
                    <a href="{{ path('_person.delete', {id: person.id}) }}" class="card-link">Delete</a>
                    <a href="{{ path('_person.update', {id: person.id, name: 'test', firstname: 'test 1', age: 34}) }}" class="card-link">Update</a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if isPaginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

    {% endif %}

    {% if isStat %}
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Moyenne d'age : {{ stat[0].ageMoyen }}
                        <p>
                            <span class="small">il y a {{ stat[0].nbrPerson }}</span>
                        </p>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

